* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
input {
  font: 400 1.6rem/160% 'Mulish', sans-serif;
  color: var(--text-primary);
}

#app {
  display: grid;
  height: 100vh;
  grid-template-rows: max-content 1fr max-content;
}
:root {
  font-size: 62.5%;
}

:root {
  --brand-primary: hsl(195, 91%, 25%);
  --title-primary: hsl(240, 6%, 13%);
  --text-primary: hsl(240, 5%, 7%);

  --base-white: #ffffff;
  --base-gray-100: hsl(196, 100%, 98%);
  --gray-300: hsl(195, 46%, 40%);
  --gray-500: hsl(0, 0%, 14%);
}

header {
  background-color: var(--brand-primary);
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
header a {
  line-height: 0;
}
header .container {
  display: flex;
  flex-direction: row;
  padding: 1.2rem 2.8rem;
  gap: 2.6rem;
  align-items: center;
}
header .container img:last-child {
  border-radius: 50%;
}
main {
  margin-bottom: 3.2rem;
}
main img {
  width: 100%;
  height: auto;
  border-radius: 0 0 5px 5px;
  margin-bottom: 2.8rem;
}
main .container {
  padding: 0 2.2rem;
}
main .container h1 {
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}
main .container .button {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 2.8rem;
}

main button {
  border: none;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
}
main button:active {
  transform: scale(1.1);
}
main button:focus {
  animation: flip-in-ver-right 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
form {
  width: 100%;
}
form input {
  width: 100%;
  border: none;
  color: var(--base-white);
  border-radius: 4px;
  padding: 1.2rem 1.6rem;
  background-color: #ffffff20;
}

form input::placeholder {
  font-weight: 600;
  color: var(--base-white);
}

form label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 2.2rem;
  gap: 3rem;
  margin-bottom: 4rem;
}

aside article {
  height: 8.5rem;
  gap: 1.6rem;
}
aside .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

aside .card img:hover {
  animation: scale-up 1s infinite alternate;
}

aside .card img {
  width: 15rem;
  height: auto;
  border-radius: 5px;
}

.card div {
  width: 21.5rem;
  height: 8.23rem;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.card div h3 {
  font-size: 1.8rem;
  font-weight: bold;
}
.card div p {
  font-size: 1.4rem;
}
footer {
  font-weight: 600;
  padding: 1.6rem;
  text-align: center;
  color: var(--base-white);
  background-color: var(--gray-300);
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@media (width > 1080px) {
  #app {
    grid-template-areas:
      'header header header'
      'main main aside'
      'footer footer footer';
  }

  #app > header {
    grid-area: header;
    margin-bottom: 4rem;
  }

  #app > main {
    grid-area: main;
    margin-bottom: 4rem;
    margin-inline: 12rem 3rem;
  }

  #app > aside {
    width: 38rem;
    height: 62rem;
    grid-area: aside;
    margin-right: 11rem;
  }
  #app > footer {
    grid-area: footer;
  }

  .avaliation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  main img {
    border-radius: 0.5rem;
  }
}

@keyframes scale-up {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}
